{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index 3</title>
    <link rel="stylesheet" href = "{% static 'styles.css' %}">
</head>
<body>

    <div class="navbar">
        <a href="{% url 'index1' %}">Inicio</a>
        <a href="{% url 'index2' %}">Galeria de Fotos</a>
        <a href="{% url 'index3' %}">Informações</a>
    </div>

   
    <header>
        <h1>Bem-vindo a Salvador</h1>
        <h4>Descubra a história, cultura e as belas paisagens deste incrível destino!</h4>
    </header>

    
<div class="informacoes">

    <h2> CONHEÇA SALVADOR </h2>
    <p>Salvador é a capital do estado da Bahia e uma das cidades mais importantes do Brasil, tanto historicamente quanto culturalmente. Fundada em 1549, é a cidade mais antiga do Brasil com origem colonial e um dos maiores centros de cultura afro-brasileira. Salvador é um ponto de fusão de várias influências, que vão do português ao africano, com forte presença de elementos indígenas, formando uma identidade única que se reflete em sua música, dança, culinária e festas.</p>
    
        

        <h2> HISTÓRIA E FUNDAMENTOS </h2>
        <p>Salvador foi a primeira capital do Brasil, sendo escolhida para abrigar o governo-geral e o comércio de mercadorias no período colonial. No início do período imperial, a cidade também foi um ponto estratégico para o comércio de escravizados africanos, o que teve uma enorme influência na formação cultural e social da cidade. A cidade foi palco de importantes eventos da história brasileira, como a inconfidência baiana e a Independência da Bahia, que ocorreu em 2 de julho de 1823, evento decisivo para a independência do Brasil.
            A presença de igrejas barrocas, casarões coloniais, e o Pelourinho (patrimônio da humanidade) contribuem para a preservação dessa herança histórica. A Igreja de Bonfim, a Igreja de São Francisco e o Convento do Carmo são alguns exemplos impressionantes dessa arquitetura colonial que ainda marca a cidade.</p>
        
            <h2> CULTURA E IDENTIDADE </h2>
        <p>Salvador é conhecida por sua intensa vida cultural e artística. A cidade tem uma forte influência da cultura africana, sendo um dos maiores centros do Candomblé no Brasil. As festas religiosas, como a Lavagem do Bonfim e o Círio de Nazaré, celebram essa identidade e atraem milhares de visitantes todos os anos.
            O Carnaval de Salvador é um dos maiores do mundo e se caracteriza por uma energia única. O samba-reggae, o axé e outros ritmos como o samba de roda e o forró são os sons predominantes nas ruas durante o carnaval, com blocos de rua e os famosos trios elétricos, que são caminhões com sistemas de som e músicos que percorrem as avenidas da cidade.
            A música baiana é uma das maiores expressões culturais da cidade, e artistas como Gilberto Gil, Caetano Veloso, Chico Science, Ivete Sangalo e Léo Santana são embaixadores dessa cultura. A mistura de estilos musicais na cidade é vasta, e as festas, shows e celebrações são parte integrante do cotidiano dos soteropolitanos (como são chamados os moradores de Salvador).
             </p>

             <h2> ARQUITETURA E TURISMO </h2>
             <p>Salvador é uma cidade que mistura modernidade com preservação histórica. O Pelourinho, com suas construções coloridas e ruas de paralelepípedos, é um dos maiores cartões-postais e o coração do turismo da cidade. A Igreja de São Francisco, com seu interior dourado, e o Elevador Lacerda, que conecta a Cidade Alta à Cidade Baixa, são marcos imponentes da cidade.
                Outro ponto de destaque é o Farol da Barra, que além de ser um dos maiores ícones da cidade, oferece uma vista deslumbrante da Baía de Todos-os-Santos. Além disso, o Mercado Modelo é um ótimo local para quem quer comprar artesanato local e experimentar a culinária baiana, com pratos como o acarajé, o vatapá, o caruru e a famosa moqueca.
                A Praia do Forte, localizada a cerca de 80 km de Salvador, também é um destino muito popular para os turistas que visitam a cidade, com suas águas claras e resorts de luxo. As praias de Salvador, como Porto da Barra, Praia de Stella Maris e Ilha de Itaparica, são opções ideais para quem busca sol e mar.
             </p>                
            </div>
    
</body>
</html>
